{:source-paths
 ["src/main"
  "src/gen"
  "src/test"]

 :dependencies
 [[reagent            "1.1.0"]
  [binaryage/devtools "1.0.4"]]

 :dev-http
 {3000 "public"}

 :builds
 {:app
  {:target     :browser
   :output-dir "public/js"
   :asset-path "/js"
   :compiler-options {:output-feature-set :es-next}
   :js-options {:js-provider    :external
                :external-index "target/index.js"}
   ;; :js-options {:resolve {"http2" false
   ;;                        "aws-crt" false}}
   :modules    {:main
                {:init-fn amplify-rental-reagent-app.app.core/main}}}

  :test
  {:target     :node-test
   :output-to  "out/node/tests.js"
   :autorun    true}

  :test-browser
  {:target     :browser-test
   :test-dir   "out/browser/test"
   :devtools   {:http-port 3021
                :http-root "out/browser/test"}}}}
